# ============ CONFIGURACIÓN DEL NODO ============
CITY=arequipa
PORT=3000

# ============ BASE DE DATOS ============
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=inventario_arequipa

# ============ PEERS (OTROS NODOS) ============
PEER_AREQUIPA=http://backend-arequipa:3000
PEER_LIMA=http://backend-lima:3000
PEER_CUSCO=http://backend-cusco:3000

# ============ TIMEOUTS ============
PREPARE_TIMEOUT=5000
COMMIT_TIMEOUT=5000
