# Configuración del servicio
PORT=8081
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/pedidos

# URLs de otros servicios (desarrollo local)
INVENTARIO_URL=http://localhost:8082
FACTURACION_URL=http://localhost:8083
TRANSPORTE_URL=http://localhost:8084
NOTIFICACIONES_URL=http://localhost:8085
